---
const { rating, prices, sponsored, title, imageUrl, productUrl, vertical } =
	Astro.props;
---

<article
	class={`flex items-center gap-4 ${vertical ? "flex-col text-center" : ""}`}
	itemscope
	itemtype="https://schema.org/Product"
>
	<a href={productUrl} target="_blank" rel="nofollow noopener sponsored">
		<img
			src={imageUrl}
			alt={title}
			class="max-h-56 object-contain aspect-square"
			itemprop="image"
		/>
	</a>
	<div class="space-y-2">
		<h3 class="text-xl leading-tight font-bold" itemprop="name">
			<a
				href={productUrl}
				target="_blank"
				class="text-black"
				rel="nofollow noopener sponsored">{title}</a
			>
		</h3>
		<p
			class="hidden"
			itemprop="aggregateRating"
			itemscope
			itemtype="https://schema.org/AggregateRating"
		>
			<span itemprop="ratingValue">5</span>
			<span itemprop="ratingCount">5</span>
		</p>
		<a
			href={productUrl}
			class="inline-block bg-[#FFD814] text-black px-6 py-2 rounded-lg shadow hover:bg-[#e7c414]"
			target="_blank"
			rel="nofollow noopener sponsored">Ver oferta en Amazon</a
		>
	</div>
</article>
