---
import Stars from "./Stars.astro";

const { rating, prices, sponsored, title, imageUrl, productUrl, vertical } =
	Astro.props;
---

<article
	class={`flex items-center gap-4 ${vertical ? "flex-col text-center" : ""}`}
	itemscope
	itemtype="https://schema.org/Product"
>
	<a href={productUrl} target="_blank" rel="nofollow noopener sponsored">
		<img
			src={imageUrl}
			alt={title}
			class="h-56 object-contain aspect-square hover:scale-105 transition-all"
			itemprop="image"
		/>
	</a>
	<div class="space-y-2">
		{
			rating.outOf === 5 && (
				<div class="text-primary">
					<Stars rating={rating.score} />
				</div>
			)
		}
		<h3
			class="text-base leading-tight font-bold line-clamp-3 h-16"
			itemprop="name"
		>
			<a
				href={productUrl}
				target="_blank"
				class="text-black"
				rel="nofollow noopener sponsored">{title}</a
			>
		</h3>
		<p
			class="hidden"
			itemprop="aggregateRating"
			itemscope
			itemtype="https://schema.org/AggregateRating"
		>
			<span itemprop="ratingValue"
				>{rating.score > 0 ? rating.score : 5}</span
			>
			<span itemprop="ratingCount"
				>{rating.outOf > 0 ? rating.outOf : 5}</span
			>
		</p>
		<a
			href={productUrl}
			class="inline-block bg-[#FFD814] text-black px-6 py-2 rounded-lg shadow hover:bg-[#e7c414]"
			target="_blank"
			rel="nofollow noopener sponsored">Ver oferta en Amazon</a
		>
	</div>
</article>
