---
import { searchProducts } from "../../services/products.js";

import AmazonSearchResult from "../../components/AmazonSearchResult.astro";

import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
	const brands = await import("../../data/brands.json");
	return brands.default.map((item) => ({
		params: { slug: item.slug },
		props: {
			brand: item,
		},
	}));
}

const { brand } = Astro.props;

const re = new RegExp(brand.slug, "gi");

const search = await searchProducts(`percusion ${brand.slug}`);
// const surdos = await searchProducts(`surdo ${brand.slug}`);
// const repiniques = await searchProducts(`repinique ${brand.slug}`);
---

<Layout>
	<img
		class="object-contain h-24 grayscale saturate-200"
		src={brand.image}
		alt={brand.name}
	/>
	<h1 class="text-xl font-bold mt-8">Lo mejor de {brand.name}</h1>
	<div class="grid md:grid-cols-2 lg:grid-cols-4 gap-4 my-8">
		{
			search.slice(0, 8).map((item) => {
				return <AmazonSearchResult {...item} vertical />;
			})
		}
	</div>
	<!-- <h2 class="text-xl font-bold">Los mejores surdos de {brand.name}</h2>
	<div class="grid md:grid-cols-2 lg:grid-cols-4 gap-4 my-8">
		{
			surdos
				.filter((s) => s.title.match(/surdo/gi))
				.filter((s) => s.title.match(re))
				.slice(0, 4)
				.map((item) => {
					return <AmazonSearchResult {...item} vertical />;
				})
		}
	</div> -->
	<!-- <h2 class="text-xl font-bold">Los mejores repiniques de {brand.name}</h2>
	<div class="grid grid-cols-2">
		{
			repiniques
				.filter((s) => s.title.match(/repinique/gi))
				.map((item) => {
					return <AmazonSearchResult {...item} />;
				})
		}
	</div> -->
</Layout>
