---
export const prerender = true;

import { searchProducts } from "@/services/products.js";

import AmazonSearchResult from "@/components/AmazonSearchResult.astro";

import Layout from "@/layouts/Layout.astro";

import { getCollection } from "astro:content";

export async function getStaticPaths() {
	const brands = await import("@/data/brands.json");
	return brands.default.map((brand) => ({
		params: { slug: brand.slug },
		props: {
			brand,
		},
	}));
}

const { brand } = Astro.props;

const re = new RegExp(brand.slug, "gi");

const search = await searchProducts(`percusion ${brand.slug}`);

const instruments = await getCollection("instrumento");
const searches = [];
for (const instrument of instruments) {
	const {
		slug,
		data: { plural },
	} = instrument;
	const items = await searchProducts(`${slug} ${brand.slug}`);

	const re1 = new RegExp(plural, "gi");
	const re2 = new RegExp(slug, "gi");

	searches[plural] = items
		.filter((s) => s.title.match(re1) || s.title.match(re2))
		.filter((s) => s.title.match(re))
		.slice(0, 4);
}
---

<Layout title={brand.name}>
	<section class="flex items-center justify-between gap-4">
		<h1>
			Los mejores instrumentos de {brand.name}
		</h1>
		<img
			class="object-contain h-16 grayscale saturate-200"
			src={brand.image}
			alt={`Logo de ${brand.name}`}
		/>
	</section>
	{
		brand.slug === "izzo" && (
			<section>
				<p>
					Izzo es una marca de{" "}
					<strong>instrumentos de percusión</strong> muy reconocida en
					todo el mundo, especialmente en Brasil, donde la batucada es
					una parte fundamental de su cultura. Fundada en 1948, la
					marca se ha especializado en la fabricación de instrumentos
					de <strong>alta calidad</strong>, diseñados para satisfacer
					las necesidades de músicos profesionales y aficionados por
					igual.
				</p>
				<p>
					Izzo ofrece una{" "}
					<strong>
						amplia variedad de instrumentos de percusión de batucada
					</strong>
					, desde <strong>tambores de samba</strong> y surdos, hasta
					agogós y campanas, todos ellos fabricados con los mejores
					materiales y procesos de producción de{" "}
					<strong>última generación</strong>. Además, Izzo también ha
					expandido su catálogo para incluir otros instrumentos de
					percusión, como congas, bongos y timbales, lo que la
					convierte en una marca líder en el mundo de la percusión en
					general.
				</p>
			</section>
		)
	}
	{
		Object.keys(searches).map((key) => {
			if (!searches[key].length) return null;

			return (
				<>
					<h2 class="text-xl font-bold">
						Mejores {key} de {brand.name}
					</h2>
					<div class="grid md:grid-cols-2 lg:grid-cols-4 gap-4 my-8">
						{searches[key].map((item) => {
							return <AmazonSearchResult {...item} vertical />;
						})}
					</div>
				</>
			);
		})
	}
	<h2 class="text-xl font-bold">Más instrumentos de {brand.name}</h2>
	<div class="grid md:grid-cols-2 lg:grid-cols-4 gap-4 my-8">
		{
			search.slice(0, 8).map((item) => {
				return <AmazonSearchResult {...item} vertical />;
			})
		}
	</div>
</Layout>
